// bower:scss
// endbower

@import url(http://fonts.googleapis.com/css?family=Lato:300);

body {
  padding: 20px;
  font-family: 'Lato', sans-serif;
}

.value {
  font-weight: bold;
}

h4 {
  text-decoration: underline;
}

.value {
  float: right;
}

.details {
  max-width: 300px;
}
